body {
	margin: 0px;
	font-family: "Muli", sans-serif;
}
.header {
	background-color: #21c08b;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__img {
	width: 200px;
	margin-top: 10px;
	margin-left: 20px;
}
.mensaje {
	background: linear-gradient(#21c08b, #ab88ff);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 30px 0px;
	min-height: calc(100vh - 200px);
}
.mensaje__container {
	color: white;
	padding: 60px 68px 40px;
	min-height: 100px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.mensaje__container p {
	margin: 0px;
}
.mensaje__container--nroerror {
	font-size: 50px;
	animation-duration: 1s;
	animation-name: palpito;
	animation-iteration-count: infinite;
	transition: 450ms;
}
@keyframes palpito {
	from {
		font-size: 50px;
	}
	to {
		font-size: 80px;
	}
}
.footer {
	display: flex;
	align-items: center;
	height: 100px;
	width: 100%;
	background-color: #ab88ff;
}
.footer a {
	color: white;
	font-size: 14px;
	text-decoration: none;
	padding-left: 30px;
}
.footer a:hover {
	text-decoration: underline;
}
